.footer {
    padding: 107px 0px 52px 0px;
}

.footer-column{
    display: flex;
    flex-direction: column;
    height: 100%;   

    ul{
        display: flex;
        flex-direction: column;
        gap: 10px;

        li{
            line-height: 1.69;
            font-size: 13px;
            color: #1d1f2e;
            opacity: 70%;
            cursor: pointer;
        }
    }
}

.footer-title {
    color: #1d1f2e;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: 23.1px;
    text-transform: uppercase;
}

.body-footer {
    display: flex;
    justify-content: space-between;
    height: 204px;
}

.about-footer {
    max-width: 258px;
    font-size: 14px;
    line-height: 1.57;
    color: #1d1f2e;

    &__logo {
        margin-bottom: 22px;
    }

    &__text {
        opacity: 70%;
    }

    &__copyright {
       opacity: 30%;
       margin-top: 82px; 
    }
}

.contact-footer {

    &__text {
        font-size: 14px;
        line-height: 1.57;
        color: #1d1f2e;
        opacity: 70%;
        margin-bottom: 15px;
    }
    
    &__gmail {
        line-height: 1.56;
        font-size: 23px;
        color: #1d1f2e
    }

    &__powered {
        font-size: 14px;
        line-height: 1.57;
        color: #1d1f2e;
        opacity: 30%;
        margin-top: 82px; 
    }
}
